#container{
	width: 100%;
	height: 100%;
}

body{
	margin:0;
}

p{
	text-align: center;
	font-family: comic sans ms;
	font-weight: bold;
	font-size: 25px;
	margin-top: 5px;
}

li {
	display:inline;
	margin: 3px;
}
ul{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
img{
	width:100px;
	height:100px;
}

.startMenu{
	margin-top:10%;
    text-align: center;
    font-size: 16px;
    font-family: comic sans ms;
    text-decoration: none;
    font-weight: bold;
	color:#777777;
}
#welcomeTxt{
	margin:0 auto;
	margin-top: 10px;
}
#content{
	margin:0 auto;
	line-height:1.35;
	overflow:hidden;
	white-space:nowrap;
}
#buttons{
	height: 100%;
	width:100%;
	margin:0 auto;
}

button {
	height: 20px;
	margin: 0 auto;
	box-shadow:inset 0px 0px 0px -50px #ffffff;
	background-color:#ededed;
	border-radius:8px;
	border:1px solid #dcdcdc;
	color:#777777;
	font-family:comic sans ms;
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
	text-shadow:0px 0px 0px #ffffff;
	outline: none; 

}button:hover {
	background-color:#dfdfdf;
}

button:focus { 
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#hint{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
}
a{
	margin-bottom: 0;
}

.card{
	box-shadow: 0px 1px 3px #ccc;
	border-radius: 2px;
	background-color: white;
	margin:0 auto;
	margin-top: 10px;
	text-align: justify;
	color:#919191;
	padding-bottom: 3px;
}
.contact{
	display: -webkit-flex;
	width:100%;
}

.card-actions{
	font-size: 16px;
	display:inline-table;
	width:100%;
}
.action{
	color: #16B7E2;
}
.action a{
	display: table-row;
}

.action img{
	width:30px;
	height:30px;
	margin:5px;
	margin-left: 15px;
}

.action span{
	display:table-cell;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 14px;
	width:100%;
}
a:link {text-decoration:none; color: #16B7E2;}
a:visited {text-decoration:none; color: #16B7E2;}
a:hover {text-decoration:none; color: #16B7E2;}
a:active {text-decoration:none; color: #16B7E2;}

.line{
	height:1px;
	background:#DBDBDB;
	width: 98%;
	margin: 0 auto;
}

.name{
	display:block;
	padding:10px;
	width:50%;
}
.quote{
	display:block;
	padding:10px;
	width:100%;
}

